<div class="container-fluid">
  <div class="row">
    <h1>{{title}}</h1>
    <h2>Connect the led to the pin {{pin}}</h2>
    <h2>The led is currently <span id="state">off</span>.</h2>
  </div>
  <div class="row buttons">
    <div class="col-lg-6">
      <button id="on">Turn on</button>
    </div>
    <div class="col-lg-6">
      <button id="off">Turn off</button>
    </div>
  </div>
</div>
