<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <h3>Currently working with pin <span id="pin"></span></h3>
      <h3>The pin is currently <span id="state"></span></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Toggle</h4>
            <p class="card-text">Press the button tu turn on and off the led.</p>
            <button id="toggle" class="btn btn-primary">Toggle</button>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Countdown</h4>
            <p class="card-text">The led will turn of after 10s.</p>
            <button id="countdown" class="btn btn-primary">Countdown</button>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Pulse Width Modulation</h4>
            <p class="card-text">With a frecuency of 5Hz and a duty cycle of 80%.</p>
            <button id="pwm" class="btn btn-primary">PWM</button>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Timer</h4>
            <p class="card-text">The led will turn on after 5s.</p>
            <button id="timer" class="btn btn-primary">Timer</button>
          </div>
      </div>
    </div>
  </div>
</div>
